
<div data-scope="stats">
  <span data-prop="active">
    1
  </span>

  <span>
    active viewers
  </span>

  <span data-prop="total" class="margin-l">
    2
  </span>

  <span>
    all time
  </span>
</div>

<h1>
  Welcome to Pakyow :)
</h1>

<article>
  <!-- @include content -->
</article>

<article>
  <!-- @include new_comment -->
</article>

<article>
  <!-- @include comments -->
</article>